@import 'normalize.css';
@import 'bulma';
@import 'common/loader';

$bg-color: #e8eadf;
$bg-gradient: #e6e6e6;

html {
  background: $bg-color;
  background-image: radial-gradient(50% 30% ellipse at center top, $bg-gradient 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, $bg-gradient 0%, $bg-color 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  font: 300 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  margin: 0;
  // padding: 1rem 0 1rem;
  text-align: center;
}

.section {
  padding: 1rem 1.5rem;
}

.box {
  position: relative;
}

.tag {
  font-weight: bold;
  cursor: pointer;
}

.timestamp {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.hashtags {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.input-container {
  position: relative;

  .lds-ellipsis {
    position: absolute;
    top: 10px;
  }
}
