<div class="box">
  <div class="content">
    <p class="subtitle" style="text-align: left">
      {{@content.text}}
    </p>
  </div>
  <div class="timestamp">
    <span class="tag is-info">
      {{datetime}}
    </span>
  </div>
  <div class="hashtags">
    {{#each @content.tags as |tag|}}
      <Common::Tag @value={{tag}} />
    {{/each}}
  </div>
</div>